#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px; 
    background-repeat: no-repeat;
    width: 100%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px;
    border: 1px solid #636e72; 
    margin-bottom: 12px; 
  }
  
  #myTable {
    border-collapse: collapse; 
    width: 100%; 
    border: 1px solid #535c68; 
    font-size: 18px; 
  }
  #myTable th, #myTable td {
    text-align: left;
    padding: 12px; 
  }
  
  #myTable tr {
      border-bottom: 1px solid #535c68;
  }
  
  #myTable tr.header, #myTable tr:hover {
      background-color: #95afc0;
  }

.container{
    margin: 0 auto;
    width: 600px;
    height: auto  ;
}